body {
    background-color: rgba(197, 255, 160, .5);
    font-family: sans-serif;
    max-width: 100%;
    min-height: 100%;
}
.container {
    background-color: rgb(255, 255, 255);
    align-items: center;
    margin: 10px;
  }
h1 {
  color: darkgreen;
}
.text-center {
  text-align: center
}
