body {
    background-color: rgba(197, 255, 160, .5);
    font-family: sans-serif;
    max-width: 100%;
    min-height: 100%;
}
#survey-form {
    background: white;
    width: 66vw;
    border-radius: 5px;
    padding: 10px;
}
h1 {
  color: darkgreen;
}
.text-center {
  text-align: center
}
