body {
    background-color: rgb(236, 255, 223);
    font-family: sans-serif;
    max-width: 100%;
    min-height: 100%;
}
#survey-form {
    background: white;
    width: 40vw;
    border-radius: 5px;
    padding: 10px;
}
.box {
    display: flex;
    justify-content: center;
}
h1 {
  color: darkgreen;
}
.text-center {
  text-align: center
}
